.login {
  height: 100vh;
  width: 100%;
  margin-top: 15px;

  .loginBox {
    height: 100%;
    width: 100%;

    .loginBoxSub {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;

      .flexbox {
        display: flex;
        align-items: center;

        .leftBox {
          display: flex;
          height: 100%;
          width: 40%;

          .leftBoxDetail {
            position: relative;
            flex: 0.88 1 0%;
            display: flex;
            height: 500px;
            flex-direction: column;
            background-color: rgb(255, 255, 255);

            .leftLogoBox {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;

              h1 {
                font-weight: bold;
              }

              .islogin {
                position: relative;
                padding-top: 18px;
                font-size: x-large;
              }
            }
          }
        }
      }

      .kakaoLogin {
        padding: 24px;
        flex: 1 1 0%;
        display: flex;
        align-items: center;
        justify-content: center;

        .kakaoLogin1 {
          width: 100%;
          max-width: 376px;
        }

        .loginTextBox {
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          margin-bottom: 40px;

          p {
            font-weight: lighter;
            font-size: small;
            text-align: center;
            margin-bottom: 10px;
            color: rgb(190, 190, 190);
          }
        }
      }

      .rightBox {
        height: 100%;
        width: 60%;
        flex: 1 1 0%;
        background-size: cover;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
