select {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 8px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 1px;
  background-color: white;
  height: 48px;
  flex: 1 1 auto;
  width: 100%;
  padding: 0px 48px 0px 16px;
}
