@mixin sideBar {
  padding: 24px;
  border-right: 1px solid rgb(248, 248, 248);
  border: 0px;
  background-color: white;
  font-size: 16px;
  color: black;
  text-decoration: none;
  &:hover {
    background-color: #dfdfdf;
  }
}

@mixin currentSideBar {
  padding: 24px;
  border-right: 1px solid rgb(248, 248, 248);
  border: 0px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    background-color: #dfdfdf;
  }
}

.basicInfo {
  @include sideBar;
}

.nameAndCover {
  @include sideBar;
}

.description {
  @include sideBar;
}

.createrInfo {
  @include sideBar;
}
