.whatClass {
  h1 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 34px;
  }
}

.whatDescription {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: normal;
  color: rgb(162, 162, 162);
  line-height: 20px;
}
